mixin upgrade

  +b.SECTION.upgrade
    +e.item
      +e.SPAN.header Monthly
      +e.SPAN.price $7
      +e.description The whole nine yards!
      +e.list
        +e.SPAN.advantages Unlimited invoices
        +e.SPAN.advantages Unlimited receipts
        +e.SPAN.advantages Unlimited PDF downloads
        +e.SPAN.advantages Custom branding
      +e.A(href="upgradeCredit.html").subscribe Subscribe
    +e.item
      +e.SPAN.header Yearly
      +e.SPAN.price $70
      +e.description Get 2 months free!
      +e.list
        +e.SPAN.advantages Unlimited invoices
        +e.SPAN.advantages Unlimited receipts
        +e.SPAN.advantages Unlimited PDF downloads
        +e.SPAN.advantages Custom branding
      +e.A(href="upgradeCredit.html").subscribe Subscribe